<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>91565705315-mtrkdk963b6sse4ilsdaa0la93gsdc3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91565705315-mtrkdk963b6sse4ilsdaa0la93gsdc3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBlDr3SMJ7ruyHVbNRc2n9MTO5zyzAhg1M</string>
	<key>GCM_SENDER_ID</key>
	<string>91565705315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metzger.Apt</string>
	<key>PROJECT_ID</key>
	<string>apt2-dd1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>apt2-dd1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:91565705315:ios:75e63d311c4814a5</string>
	<key>DATABASE_URL</key>
	<string>https://apt2-dd1fb.firebaseio.com</string>
</dict>
</plist>